EXPO_PUBLIC_API_BASE_URL=http://localhost:4000/v1
EXPO_PUBLIC_WS_BASE_URL=http://localhost:4000
EXPO_PUBLIC_AUTH0_ISSUER=
EXPO_PUBLIC_AUTH0_CLIENT_ID=
EXPO_PUBLIC_AUTH0_AUDIENCE=
EXPO_PUBLIC_AUTH_SCHEME=societyhub
